.form {
  display: flex;
  flex-direction: column;
  width: 250px;

  border: 3px solid black;
  border-radius: 8px;
  padding: 35px;
}


.errorMsg {
  color: red;
}

.formBtn {
  width: 150px;
  margin: 10px auto 0;
  border: none;
  padding: 8px;
  border-radius: 15px;
  cursor: pointer;
}

.formBtn:hover {
  background: #f6f9fe;
  color: #174ea6;
}

.formBtn:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.labelIcon{
  margin-right: 10px;
}

.formNumb{
margin-bottom: 8px;
}