:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(6, 6, 6, 0.94);
  background-color: #faf7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}
